<html>

<body>
   <!-- <h2> Hello {{ html_name }} </h2> **/ -->
   <h2> Hello 
         {% if html_name == "FALSE" %}
            Anonymous User!
         {% elif html_name %}
            {{ html_name }}
         {% else %}
            World!
         {% endif %}
   </h2>
   <!--
<ol>   
   {% for item in list %}
     <li> {{ item }}
   {% endfor %}
</ol>
   -->
   
   <h2> This is a headline>
   <p> This is HTML</p>
   <a href="www.jesstraining.com"> My Blog </a>
   <pre>This is Pre </pre>
</body>
</html>
